[Desktop Entry]
Name=NixOS Toolkit
GenericName=System Configuration
Comment=Manage your NixOS system declaratively
Exec=nixos-toolkit
Icon=nixos-toolkit
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=nix;nixos;system;configuration;settings;
StartupWMClass=nixos-toolkit
StartupNotify=true
